.page-header {
    padding: 4rem 2rem;
    text-align: left;
    background-image: url('../img/china-1270219_1280.jpg');
    background-repeat: no-repeat;
    background-position: 25% 45%;    
    background-size:100%;
}


.project-name {
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
}

.project-tagline {
    font-size: 1rem;    
    font-weight: normal;
    opacity: 0.7;
}

